/* =========== CYAN BUTTON =========== */
.main-button {
    display: flex;
    align-items: center;
    justify-content: center;


    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;

    height: 48px;
    padding: 0px 24px;

    color: var(--colors-invertedContrast);
    background-color: var(--colors-primary);

    font: 600 16px / 1 "Kanit";
    letter-spacing: 0.03em;

    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
}

.main-button:hover {
    opacity: 0.65;
}

.main-button:active {
    opacity: 0.85;
    transform: translateY(1px);
    box-shadow: none;
}

/* =========== WHITE BUTTON =========== */
a.secondary-button {
    display: flex;
    align-items: center;
    justify-content: center;


    border: 2px solid var(--colors-primary);
    border-radius: 16px;
    height: 48px;
    width: fit-content;
    padding: 0px 24px;

    color: var(--colors-primary);
    background-color: transparent;


    font: 600 16px / 1 "Kanit";
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
}

a.secondary-button:hover {
    opacity: 0.65;
}

a.secondary-button:active {
    opacity: 0.85;
    transform: translateY(1px);
    box-shadow: none;
}

/* =========== MENU BUTTON =========== */
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;

    height: 32px;
    padding: 0px 16px;

    color: var(--colors-invertedContrast);
    background-color: var(--colors-primary);

    font: 600 16px / 1 "Kanit";
    letter-spacing: 0.03em;

    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    cursor: pointer;
}

.menu-button:hover {
    opacity: 0.65;
}

.menu-button:active {
    opacity: 0.85;
    transform: translateY(1px);
    box-shadow: none;
}

/* =========== LINK =========== */
.link {
    display: flex;
    align-items: center;

    color: var(--colors-primary);

    font: 600 16px / 1 "Kanit";

    text-decoration: none;
}

.link .link-svg {
    margin-left: 4px;
}