/* animazione */
@keyframes bRTaPl {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(3px, 15px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}



.second-lottery-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 48px 0px;
  display: flex;
  background: linear-gradient(180deg, #6fb6f1 0%, #eaf2f6 100%);
}
.intermediate-central-lottery-cont {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
  min-height: auto;
}

.last-lottery-container {
  z-index: -1;
  display: flex;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.right-gif-container {
  max-width: 100%;
  position: absolute;
  left: 0px;
  bottom: -64px;
  display: flex;
}

.gif-cards.one {
  position: relative;
  max-height: 512px;
}

.first-gifs {
  max-height: 512px;
}

.notfirst {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.notfirst .last-sec-gifs {
  max-height: 100%;
  width: auto;
}
/* ANIMAZIONE */
.last-sec-gifs {
  animation: 3s ease-in-out 1s infinite normal none running bRTaPl;
}

.left-gift-biliard-container {
  max-width: 100%;
  display: flex;
  position: absolute;
  right: 0px;
  top: -64px;
}

.left-gift-biliard {
  position: relative;
  max-height: 512px;
}

/* INNER SECTION CONTAINING CARDS */
.wrapper-lottery-container {
  background: rgba(255, 255, 255, 0.6);
  padding: 40px;
  border: 1px solid #e7e3eb;
  box-sizing: border-box;
  backdrop-filter: blur(12px);
  border-radius: 72px;
}

.lottery-central-container {
  display: flex;
  padding: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lottery-central-title {
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 24px;
  text-align: center;
  color: var(--colors-text);
}

.lottery-title-small {
  color: var(--colors-secondary);
}

.lottery-central-title {
  color: var(--colors-text);
  font: var(--font-small-title);
}

.lottery-subtitle.first {
  color: var(--colors-textSubtle);
  font: var(--font-paragraph);
}

.lottery-subtitle.second {
  color: var(--colors-textSubtle);
  font: var(--font-paragraph);
}

.lottery-subtitle.second {
  color: var(--colors-textSubtle);
  font: var(--font-paragraph);
  margin-bottom: 40px;
}

.central-lottery-cards-container {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  margin: 0px auto;
}

.lottery-card-container.one {
  display: flex;
  flex: 1 1 0%;
  max-width: 100%;
  margin-right: 24px;
  margin-bottom: 0px;
}

.lottery-card-intermediate-container.one {
  display: flex;
  transform: rotate(-2.36deg);
  height: fit-content;
  padding: 1px 1px 4px;
  box-sizing: border-box;
  background: rgb(255, 178, 55);
  border-radius: 24px;
  color: var(--colors-text);
  overflow: hidden;
  position: relative;
  padding: 1px 1px 4px;
}

.lottery-card-last-container.one {
  width: 100%;
  height: 100%;
  overflow: initial;
  background: linear-gradient(
    rgb(255, 178, 55) 0%,
    rgb(255, 205, 81) 51.17%,
    rgb(255, 231, 106) 100%
  );
  border-radius: 24px;
}
/* rivedere max-height*/
.lottery-card-contents.one {
  padding: 24px;
}

.lottery-card-svg {
  transform: rotate(-2.36deg);
  position: absolute;
  top: 24px;
  right: 24px;
}

.lottery-card-text.one {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.lottery-subtitle.first.one {
  font: var(--font-link);
  color: var(--colors-text);
}

.lottery-main-title.one {
  color: var(--colors-text);
  font: var(--font-small-title);
}

.lottery-subtitle.second.one,
.lottery-subtitle.third.one {
  color: var(--colors-text);
  font: var(--font-list-footer);
}

.main-button.play {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* SECOND PURPLE CARD */

.lottery-card-container.two {
  display: flex;
  flex: 1 1 0%;
  max-width: 100%;
}

.lottery-card-intermediate-container.two {
  display: flex;
  transform: rotate(1.43deg);
  height: fit-content;
  padding: 1px 1px 4px;
  box-sizing: border-box;
  background: rgb(60, 23, 134);
  color: var(--colors-text);
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  padding: 1px 1px 4px;
}

.lottery-card-last-container.two {
  width: 100%;
  height: 100%;
  overflow: initial;
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  border-radius: 24px;
}

.lottery-card-contents.two {
  padding: 24px;
}

.lottery-card-svg.two {
  transform: rotate(-2.36deg);
  position: absolute;
  top: 24px;
  right: 24px;
}

.card-svg.two {
  align-self: center;
  fill: var(--colors-invertedContrast);
  color: var(--colors-invertedContrast);
  flex-shrink: 0;
}

.lottery-card-text.two {
  display: flex;
  flex-direction: column;
  margin-top: 48px;
}

.lottery-subtitle.first.two {
  color: var(--colors-invertedContrast);
  font: var(--font-link);
}
/* cambia il colore del titolo!!!!!!!!!!!! */
.lottery-main-title.two {
  color: rgb(231, 204, 52);
  font: var(--font-small-title);
}

.lottery-subtitle.second.two,
.lottery-subtitle.third.two {
  color: var(--colors-invertedContrast);
  font: var(--font-list-footer);
}

.lottery-subtitle.third.two {
  margin-bottom: 40px;
}

.main-button.buy-tickets {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ELEONORA SECOND SECTION */
.cake-card-second-container {
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  display: flex;
  padding: 48px 0px;
  background: #faf9fa;
}

.cake-central-card-up-first-container {
  padding-top: 48px;
  padding-bottom: 48px;
  min-height: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.cake-central-card-up-inter-container {
  display: flex;
  flex-direction: column;
}

.cake-central-card-up-last-container {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cake-central-card-text-containe {
  margin-right: 64px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  align-self: center;
}

.cake-central-up-title {
  margin-bottom: 24px;
  color: var(--colors-text);
  font: var(--font-small-title);
}

.cake-central-up-subtitle {
  color: var(--colors-textSubtle);
  font: var(--font-paragraph);
}

.buy-cake-button-container {
  display: flex;
}

.main-button.buy-cake {
  height: 48px;
  padding: 0px 24px;
  margin-right: 16px;
}

.cake-img-first-container {
  flex: 1 1 0%;
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
}

.cake-img-second-container {
  position: relative;
  max-height: 512px;
}

.cake-one {
  max-height: 512px;
  height: auto;
  max-width: 100%;
}

.cake {
  max-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  animation: 3s ease-in-out 1s infinite normal none running bRTaPl;
}

.cake-img-container-one {
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.cake-grid-title {
  color: var(--colors-textSubtle);
  font: var(--font-paragraph);
}

.cake-data-numbers {
  color: var(--colors-text);
  font: 600 24px / 1.1 "Kanit";
}

.cake-card-button-container.one {
  display: grid;
  margin-top: 24px;
  grid-template-areas:
    "a b c"
    "d e f";
  gap: 32px;
  grid-template-columns: repeat(3, auto);
}

.cake-card-data-container {
  display: flex;
  padding: 0px 16px;
  border-left: 1px #d7caec solid;
  flex-direction: column;
}

.connect-wallet-second-container {
  background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  padding: 48px 0px;
}

.connect-wallet-central-container {
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 24px;
  padding-right: 24px;
}

.connect-wallet-third-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.connect-wallet-svg-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.svg-seventh-sec {
  height: 400%;
  width: 400%;
}

.connect-wallet-second-central-container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  visibility: visible;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.connect-wallet-img-first {
  position: relative;
  max-height: 256px;
}

.connect-wallet-left-cake-cont {
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
}

.first-cakes-seventh-sec {
  height: auto;
  max-width: 100%;
  max-height: 256px;

}

.connect-wallet-right-cake-cont {
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
}

.connect-wallet-img-first {
  position: relative;
  max-height: 256px;
}

.connect-wallet-text-container {
  z-index: 1;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.connect-wallet-main-title {
  margin-bottom: 24px;
  color: var(--colors-white);
  font: var(--font-small-title);
}

.connect-wallet-subtitle.one {
  text-align: center;
  color: var(--colors-white);
  font: var(--font-paragraph);
}

.connect-wallet-subtitle.two {
  font: var(--font-list-foote);
  color: var(--colors-white);
  margin-bottom: 24px;
}

.main-button.connect-wallet {
  margin-top: 24px;
}
