@media screen and (min-width: 421px) and (max-width: 851px) {
  .nav-l-links-wrapper,
  .nav-r-links_item,
  .connect-desktop {
    display: none;
  }
  .navbar-mq-wrapper {
    display: block;}

  .connect-mobile {
    display: block;
  }

  .banner-content img {
    display: none;
  }

  .banner {
    width: 100%;
    overflow: hidden;
    height: 100%;
    padding: 12px;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(39, 38, 44, 0.4),
        rgba(39, 38, 44, 0.4)
      ),
      linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
  }
  .banner-content_text {
    border-radius: none;
    background-color: transparent;
    width: 100%;
    height: 100%;
  }
  .banner-content_text .banner-content_text_span {
    margin-left: 0px;
  }

  /* @media (max-width: 967px) { */
  .nav-logo__link__svg2 {
    display: none;
  }
  .nav-logo__link__svg1 {
    display: block;
  }
  .mobile-icon {
    width: 32px;
  }

  .nav-r-item_btn_text_mq,
  .nav-r-item_btn_text {
    display: none;
  }

  .nav-r-item_btn_text_mq {
    display: block;
    margin-left: 8px;
  }
  .nav-r-item_btn_text {
    display: none;
  }
  /* .banner{
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      } */

  .nav-r-link_dropdown_items {
    position: fixed;
    inset: 0px auto auto 0px;
    transform: translate3d(506px, 55px, 0px);
    z-index: 100;
  }
  .nav-r-language-dropdown{
    position: absolute;
    transform: translate(-50%, 0px);
    left: 50%;
    top:40px;
    bottom: auto;
  }
}
