@media (min-width: 370px) {

  /* .banner {
    display:flex;
    overflow: hidden;
    height: 100%;
    padding: 12px;
    align-items: center;
    background: linear-gradient(0deg, rgba(39, 38, 44, 0.4), rgba(39, 38, 44, 0.4)), linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
} */


}

@media (min-width: 1215px) {
  .nav-r-item_btn_text_mq {
    display: none;
  }
  .nav-r-item_btn_text {
    display: block;
  }
  .banner-wrapper {
    height: 70px;
    min-height: 70px;
    max-height: 70px;
    width: 100%;
  }
}

@media (max-width: 1214px) and (min-width: 575px) {
  .nav-r-item_btn_text_mq {
    display: block;
    margin-left: 8px;
  }
  .nav-r-item_btn_text {
    display: none;
  }
  .banner{
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  }
}

@media (max-width: 574px) {
  .nav-r-item_btn_text_mq,
  .nav-r-item_btn_text {
    display: none;
  }
}

/* @media screen and (min-width: 850px) {
  .banner {
    padding: 0px;
    background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
    width:100%;
  }
  .banner-content_text {
    display: flex;
    align-items: center;
    gap: 4px;
  }

} */

/* @media (max-width: 849px) {
  
  
    .banner-wrapper{
        height: 84px;
        min-height: 84px;
        max-height: 84px;
        width: 100%;
    }

}
/*  */
@media (max-width: 967px) {
  .nav-logo__link__svg2 {
    display: none;
  }
  .nav-logo__link__svg1 {
    display: block;
  }
  .mobile-icon {
    width: 32px;
  }
}  

@media (min-width: 967px) {
  .nav-logo__link__svg1 {
    display: none;
  }
  .orange_span{
    margin-left: 8px;
  }
}

/* 
.nav-l-link_dropdown_items{
 bottom: 50px;
 display: flex;
 z-index: 30;
 bottom: 10%:;
 flex-direction: column;
 width: 95%;
} */
