* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.nav-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: top 0.2s ease 0s;
  height: 126px;
  width: 100%;
  z-index: 20;
}

/* banner */
.banner-wrapper {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  width: 100%;
}

.banner {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 100%;
  /* padding: 12px; */
  padding: 0;
  background-image: linear-gradient(
    rgb(128, 81, 214) 0%,
    rgb(73, 34, 134) 100%
  );
}

.banner-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content img {
  height: auto;
  max-width: 100%;
}

.banner-content_text {
  height: 100%;
  background: rgba(39, 38, 44, 0.4);
  border-radius: 16px;
  padding: 8px;
  width: 60%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.banner-content_text .banner-content_text_span {
  flex-shrink: 0;
  margin-right: 4px;
}

.orange_span {
  color: var(--colors-warning);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 14px;
}

.grey_span {
  color: rgb(189, 194, 196);
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

.link_span {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.5;
  font-size: 14px;
}

.banner-button:hover .banner-button_svg {
  opacity: 0.65;
}

.banner-button {
  padding: 2px;
  width: 48px;
  height: 48px;
  padding: 0px 24px;

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 0px;
  border-radius: 16px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  background-color: transparent;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;

  color: var(--colors-primary);
  box-shadow: none;
  cursor: pointer;
}

.banner-button_svg {
  align-self: center;
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  flex-shrink: 0;
}

/*navbar*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: var(--colors-backgroundAlt);
  border-bottom: 1px solid var(--colors-cardBorder);
  transform: translate3d(0px, 0px, 0px);
  padding-left: 16px;
  padding-right: 16px;
}

.nav-l-logo {
  display: flex;
  align-items: center;
}

.nav-logo__link {
  display: flex;
  align-items: center;
}

.mobile-icon {
  display: none;
}

.desktop-icon {
  width: 160px;
}

.eye {
  transform-origin: 50% 60%;
  animation: none;
  animation-delay: 200ms;
  /* Disable animation by default */
}

.nav-logo__link:hover .eye {
  animation: closeEyes 0.1s ease 0.1s forwards;
  animation-duration: 350ms;
  animation-iteration-count: 5;
}

@keyframes closeEyes {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.birthday,
.win {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  color: var(--colors-secondary);
  position: relative;
  font-size: 16px;
  opacity: 1;
  pointer-events: inherit;
  height: 48px;
}

.birthday {
  font-weight: 600;
}

.game-on {
  content: "";
  border-radius: 100%;
  background: var(--colors-success);
  height: 8px;
  width: 8px;
}

.win-on {
  content: "";
  border-radius: 100%;
  background: var(--colors-failure);
  height: 8px;
  width: 8px;
}

.nav-l-link_dropdown_item_a_live {
  padding: 0px 8px;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: var(--colors-failure);
  color: var(--colors-failure);
  margin-left: 8px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 16px;
  width: fit-content;
}

#tradingreward {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-info_svg {
  fill: var(--colors-textSubtle);
}

.info_dropdown_border {
  border-color: var(--colors-cardBorder);
  border-style: solid;
  border-width: 1px 0px 0px;
  margin: 4px 0px;
}

.nav-l,
.nav-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-l {
  gap: 24px;
}

.nav-l-links,
.nav-r-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-l-link_dropdown,
.nav-r-link_dropdown {
  position: relative;
}

.nav-l-link_dropdown_item_a,
.nav-r-link_dropdown_item_a {
  color: var(--colors-textSubtle);
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-l-item__a,
.nav-r-item__a {
  color: var(--colors-textSubtle);
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  pointer-events: inherit;
  padding: 0px 16px;
  height: 48px;
}

/* Styling for dropdown menus */
.nav-l-link_dropdown_items,
.nav-r-link_dropdown_items {
  display: none;
  position: absolute;
  background-color: var(--colors-backgroundAlt);
  padding: 10px 0;
  top: 100%;
  left: 0;
  border-radius: 10px;
  border: 1px solid var(--colors-cardBorder);
  width: 280px;
}

.nav-l-links_dropdown:hover .nav-l-link_dropdown_items,
.nav-r-links_dropdown:hover .nav-r-link_dropdown_items {
  display: block;
}

.nav-l-links_dropdown:hover {
  background-color: var(--colors-tertiary);
  border-radius: 16px;
}

.nav-l-link_dropdown_item:hover,
.nav-r-link_dropdown_item:hover {
  background-color: var(--colors-tertiary);
}

.nav-l-link_dropdown_itemsvg,
.nav-r-link_dropdown_itemsvg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*nav right*/
.nav-r-links {
  gap: 16px;
}

/*bunny and number*/
.nav-r-links_item__a {
  text-decoration: none;
  color: var(--colors-textSubtle);
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-r-links_item__asvg {
  transition: transform 0.3s ease 0s;
  align-self: center;
  fill: var(--colors-text);
  color: var(--colors-text);
  flex-shrink: 0;
}

.nav-r-links_item__asvg:hover {
  transform: scale(1.2);
}

.nav-r-link_dropdown_itemimg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

/*language button*/

.nav-r-link-dropdown-btnlng_svg {
  fill: var(--colors-textSubtle);
}

.nav-r-link-dropdown-btnlng_svg:hover {
  opacity: 0.65;
}

.nav-r-link-dropdown-btnlng {
  border: 0px;
  background-color: transparent;
}

.nav-r-language:hover .nav-r-language-dropdown {
  opacity: 1;
  max-height: 400px;
  overflow-y: auto;
  transition:
    max-height 0s ease 0s,
    opacity 0.3s ease-in-out 0s;
  pointer-events: auto;
}

.nav-r-language .nav-r-language-dropdown {
  position: relative;
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: auto;
  background-color: var(--colors-backgroundAlt);
  box-shadow:
    0px 2px 12px -8px rgba(25, 19, 38, 0.1),
    0px 1px 1px rgba(25, 19, 38, 0.05);
  padding: 16px;
  max-height: 0px;
  overflow: hidden;
  z-index: 10;
  border-radius: 4px;
  opacity: 0;
  /*transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;*/
  will-change: opacity;
  pointer-events: none;
}

.nav-r-language {
  margin-top: 4px;
}

.nav-r-link_dropdown_items .lang-btn-drop {
  color: var(--colors-text);
  justify-content: center;
}

.lang-btn-drop:hover {
  opacity: 0.65;
}

/*.nav-r-language-dropdown .nav-r-link_dropdown_item{
  color: var(--colors-text);
  padding: 0px 8px;
  border-radius: 8px;
  position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  }*/

.nav-r-link_dropdown_item {
  min-height: 32px;
  height: auto;
}

.lang-btn-drop {
  font-size: 16px;
  font-weight: 600;
}

/*settings button*/

/*bnb button*/
.nav-r-link_dropdown_btn {
  display: flex;
}

.nav-r-item_btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--colors-tertiary);
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
  cursor: pointer;
  height: 32px;
  padding-right: 8px;
  position: relative;
  max-width: fit-content;
  font-weight: 600;
  color: var(--colors-text);
}

.nav-r-item_btn_text_mq {
  display: none;
}

.nav-r-item_btn img {
  border-radius: 50%;
  max-height: 32px;
  margin-top: 4px;
  overflow-clip-margin: content-box;
  overflow: clip;
}

.nav-r-item_btn:hover {
  opacity: 0.65;
}

.nav-r-item_btn_svg svg {
  display: flex;
  align-items: center;
}

.nav-r-link_dropdown_items button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: 0px;
  color: var(--colors-textSubtle);
  cursor: pointer;
  font-size: 16px;
  height: 48px;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.nav-r-link_dropdown_itemimg_text {
  color: var(--colors-text);
  font-weight: 400;
  line-height: 1.5;
  padding-left: 12px;
  font-size: 16px;
}

.bnb_link_color-secondary {
  color: var(--colors-secondary);
  font-weight: 600;
}

.nav-r-link_dropdown_item-sel {
  padding: 8px 16px;
}

.nav-r-link_dropdown_item_text {
  color: var(--colors-textSubtle);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

/*settings*/
.nav-r-settings_btn {
  background-color: transparent;
  border: none;
  display: flex;
}

.nav-r-settings_svg {
  fill: var(--colors-textSubtle);
  color: var(--colors-textSubtle);
}

.nav-r-settings_btn:hover .nav-r-settings_svg {
  opacity: 0.65;
}

/*connect wallet button*/
.menu.banner-button {
  align-self: center;
}

.connect-mobile {
  display: none;
}

/* modal window and overlay*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  background-color: var(--colors-backgroundAlt);
  border-radius: 32px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  border: 1px solid var(--colors-cardBorder);
  z-index: 100;
  min-height: 300px;
  max-height: 100vh;
  max-width: none;
  overflow: visible;
  width: auto;
  bottom: auto;
  max-height: 100vh;
}

.modal-box {
  border-radius: 32px;
  overflow: hidden;
  min-width: 320px;
}

.modal-title {
  display: flex;
  display: flex;
  align-items: center;
  background: var(--colors-gradientCardHeader);
  border-bottom: 1px solid var(--colors-cardBorder);
  padding: 12px 24px;
}

.modal-title_h2 {
  display: flex;
  align-items: center;
  flex: 1 1 0%;
}

.modal-title_h2 h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--colors-text);
}

.close-modal {
  position: relative;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: transparent;
  color: var(--colors-primary);
  box-shadow: none;
}

.close-modal:hover {
  opacity: 0.65;
}

.modal-content-wrapper {
  display: flex;
  max-height: 90vh;
  flex-direction: column;
  overflow: hidden auto;
  position: relative;
  top: 0px;
  padding: 24px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  max-height: none;
  height: auto;
}

.modal-content-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.modal-content-items .global {
  color: var(--colors-secondary);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 24px;
  font-size: 12px;
}

.modal-content-item {
  display: flex;
  justify-content: space-between;
}

.modal-content-item_text {
  color: var(--colors-text);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

/*tool tip on modal svg "?" */

.modal-content-item_textsvg_svgbox:hover
  .modal-content-item_textsvg_svgbox1_svg {
  opacity: 0.65;
}

.tooltip {
  position: absolute;
  display: none;
  background-color: var(--colors-backgroundAlt);
  color: var(--colors-text);
  padding: 15px;
  border-radius: 5px;
  font-size: 14px;
  top: 60%;
  left: 60%;
  transform: translate(-60%, -60%);
}

.tooltip-text {
  font-size: 14px;
}

.tooltip-text span a {
  color: var(--colors-primary);
  text-decoration: none;
  font-weight: 600;
}

.tooltip-text a:hover {
  text-decoration: underline;
}

.darkMode_chckbx {
  background-color: var(--colors-textDisabled);
  border-radius: 24px;
  box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;
}

.darkMode_chckbx_footer{
  background-color: #666171;
}


.modal-content-item_chcbx_inp {
  cursor: pointer;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 3;
}

.modal-content-item_chcbx_content {
  background-color: var(--colors-invertedContrast);
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: left 200ms ease-in 0s;
  width: 26px;
  z-index: 1;
}

.darkMode_chckbx_sun {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.darkMode_chckbx_sun_svg {
  align-self: center;
  fill: var(--colors-warning);
  color: var(--colors-warning);
  flex-shrink: 0;
}

.darkMode_chckbx_sunmoon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.sun_svg_copy,
.moon_svg_copy {
  align-self: center;
  fill: var(--colors-invertedContrast);
  color: var(--colors-invertedContrast);
  flex-shrink: 0;
}

.modal-content-item_textsvg,
.modal-content-item_textsvg_svgbox,
.modal-content-item_textsvg_svgbox1 {
  display: flex;
  align-items: center;
}

.modal-content-item_textsvg_svgbox {
  margin-left: 4px;
}

.modal-content-item_textsvg_svgbox1_svg {
  align-self: center;
  fill: var(--colors-textSubtle);
  color: var(--colors-textSubtle);
  flex-shrink: 0;
}

.modal-content-item_chcbxs {
  display: inline-flex;
  align-items: center;
  background-color: var(--colors-input);
  border-radius: 24px;
  box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
  cursor: pointer;
  height: 32px;
  position: relative;
  transition: background-color 200ms ease 0s;
  width: 56px;
}

.modal-content-item_chcbx_empty {
  background-color: var(--colors-invertedContrast);
  border-radius: 50%;
  cursor: pointer;
  height: 26px;
  left: 3px;
  position: absolute;
  top: 3px;
  transition: left 200ms ease-in 0s;
  width: 26px;
  z-index: 1;
}

.modal-content-item_chcbx_inp:hover + .modal-content-item_chcbx_content {
  box-shadow:
    0px 0px 0px 1px #7645d9,
    0px 0px 0px 4px rgba(118, 69, 217, 0.6);
}

.modal-content-item_chcbx_inp:hover
  + .modal-content-item_chcbx_empty:not(:disabled):not(:checked) {
  box-shadow:
    0px 0px 0px 1px #7645d9,
    0px 0px 0px 4px rgba(118, 69, 217, 0.6);
}

.modal-content-item_chcbx_inp:checked + .modal-content-item_chcbx_empty {
  left: calc(100% - 30px);
}

/* classe da aggiungere quando fai check checkbox*/
.greenChecked {
  background-color: #31d0aa;
}

.modal-content-item_chcbx_inp:checked + .modal-content-item_chcbx_content {
  left: calc(100% - 30px);
}

.modal-content-item_chcbx_inp:checked + .modal-content-item_chcbx_content {
  background: black;
}

/*c;asse svg luna quando clic dark mode*/

.xxx {
  align-self: center;
  fill: var(--colors-secondary);
  color: var(--colors-secondary);
  flex-shrink: 0;
}

.darkMode,
.SubgraphHealthIndicator,
.ShowUsername,
.TokenRiskScanning {
  margin-bottom: 24px;
}

.DefaulttransactionSpeed {
  margin-bottom: 12px;
}

.modal-content-item_default {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.menu-button-inverted {
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  height: 32px;
  padding: 0px 16px;
  background-color: var(--colors-tertiary);
  box-shadow: none;
  color: var(--colors-primary);
}

/*MODAL 2*/

.modal2 {
  overflow: visible;
  background: #fff;
  box-shadow:
    rgba(14, 14, 44, 0.1) 0px 20px 36px -8px,
    rgba(0, 0, 0, 0.05) 0px 1px 1px;
  border: 1px solid #e7e3eb;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 300px;
  animation: auto ease 0s 1 normal none running none;
  width: auto;
  bottom: auto;
  border-radius: 32px;
  max-height: 100vh;
}

.modal2-manydiv {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 0;
  box-sizing: border-box;
  font: inherit;
  vertical-align: baseline;
}

.modal2-box-wrapper {
  overflow: visible;
  border: none;
  border-radius: 32px;
}

.modal2-box {
  position: relative;
}

.modal2-box_content {
  width: 792px;
  height: 490px;
  margin-bottom: 0;
  display: flex;
  z-index: 100;
  position: relative;
}

.modal2-box_buttons_wrapper_wrp {
  position: absolute;
  top: -50px;
}

.modal2-box_buttons_wrapper {
  border-bottom: none;
  overflow-x: auto;
  padding: 16px 16px 0px;
  display: flex;
}

.modal2-box_buttons {
  display: flex;
  justify-content: space-between;
  flex-grow: 0;
}

.modal2-box_button {
  flex-grow: 0;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border: 0px;
  outline: 0px;
  flex-grow: 1;
  padding: 8px;
  border-radius: 16px 16px 0px 0px;
  font-size: 16px;
  font-weight: 600;
}

.modal2-slide1-btn1 {
  color: var(--colors-textSubtle);
  background-color: var(--colors-input);
}

.modal2-slide1-btn2 {
  color: var(--colors-backgroundAlt);
  background-color: var(--colors-textSubtle);
}

.modal2-slide1-btn2.never-show-div1 {
  color: var(--colors-textSubtle);
  background-color: var(--colors-input);
}

.modal2-box_card {
  border-radius: 24px;
  z-index: 100;
  width: 100%;
  position: relative;
  display: flex;
}

.modal2-box_card_l {
  max-width: 408px;
  border-radius: 24px;
  z-index: 100;
  padding: 32px 0;
  display: flex;
  flex-direction: column;
}

.modal2-box_card_l {
  background: var(--colors-backgroundAlt);
}
.modal2-app_content_imgwrap {
  background-color: var(--colors-dropdown);
}
.modal2-box_card {
  background: var(--colors-gradientCardHeader);
}

.modal2-box_card_l_text {
  padding: 0 48px;
}

.modal2-box_card_l_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--colors-contrast);
}

.modal2-box_card_l_subtitle {
  color: var(--colors-textSubtle);
  font-weight: 400;
  line-height: 1.5;
  padding-top: 24px;
  padding-bottom: 32px;
  font-size: 14px;
}

.modal2-apps {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 24px;
  column-gap: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 12px;
  padding-left: 48px;
  padding-right: 48px;
}

.modal2-app {
  position: relative;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  background-color: transparent;
  color: var(--colors-primary);
  box-shadow: none;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: normal;
  padding: 0px;
}

.modal2-app_content {
  margin-bottom: 4px;
  border-radius: 12px;
  padding: 2px;
}

.modal2-app_content_imgwrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 13px;
}

.modal2-app_content_img {
  max-height: 50px;
  max-width: 50px;
  width: 100%;
}

.modal2-app-img {
  max-width: 100%;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto;
}

.modal2-app-img::after {
  content: "";
  display: block;
  padding-top: 100%;
}

.modal2-app_title {
  color: var(--colors-text);
  font-weight: 400;
  line-height: 1.5;
  font-size: 12px;
  text-align: center;
}

.modal2-app:hover {
  opacity: 0.65;
}

.modal2-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal2-more_content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2px;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  padding: 0px 24px;
  background-color: transparent;
  color: var(--colors-primary);
  box-shadow: none;
  height: auto;
}

.modal2-more_content:hover {
  opacity: 0.65;
}

.modal2-app_content_svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 12px;
  background-color: var(--colors-dropdown);
}

.modal2-more_svg {
  align-self: center;
  fill: var(--colors-text);
  color: var(--colors-text);
  flex-shrink: 0;
}

/*rightside modal2*/
.modal2-box_card_r {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1;
  margin: 0 24px;
}

.modal2-box_card_r_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
}

.modal2-box_card_r_content_h1 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--colors-secondary);
}

.modal2-box_card_r_content_img {
  max-height: 178px;
  max-width: 198px;
  position: relative;
  width: 100%;
}

.modal2-card-r-img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  /* position: absolute;
  left:0px;
  top: 0px; */
}

/* .modal2-card-r-img::after{
  content: "";
  display: block;
  padding-top: 89.899%;
} */

.modal2-box_card_r_content_link {
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: fit-content;
  position: relative;
  border: 0px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: var(--colors-textSubtle);
  color: var(--colors-backgroundAlt);
  text-decoration: none;
}

.modal2-box_card_r_content_link:hover {
  opacity: 0.65;
  text-decoration: underline;
}

.modal2-box_card_r_content_link_svg {
  align-self: center;
  fill: var(--colors-backgroundAlt);
  color: var(--colors-backgroundAlt);
  flex-shrink: 0;
}

/* seconda slide dell modale connect*/

.modal2-box_card_slider_wrapper {
  display: flex;
  position: relative;
  width: 100%;
  z-index: 100;
  border-radius: 24px;
  background: var(--colors-gradientCardHeader);
}

.modal2-box_card_slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 48px auto;
  width: 100%;
  gap: 24px;
}

.modal2-box_card_slider_content {
  width: 100%;
  margin-left: 0 0;
  position: relative;
  overflow: clip;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}

.modal2-box_card_slides {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  /* transition-property: transform; */
  /* transition-timing-function:var(--swiper-wrapper-transition-timing-function,initial); */
  box-sizing: content-box;
  /* transition-duration: 0ms;
  transform: translate3d(-792px, 0px, 0px);
  transition-delay: 0ms;
   */
  /* transition-duration: 300ms;
    transform: translate3d(-792px, 0px, 0px); */
}

.modal2-box_card_slide {
  display: block;
  position: relative;
  transition-property: transform;
  width: 792px;
  transform: translatez(0);
  backface-visibility: hidden;
  flex-shrink: 0;
  height: 100%;
}

.modal2-box_card_slide_title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  color: var(--colors-secondary);
}

.modal2-box_card_slide_img {
  max-height: 178px;
  max-width: 198px;
  position: relative;
  width: 100%;
  margin: auto;
}

.modal2-box_card_slide_imgpng {
  height: 100%;
  /* left: 0px;
  position: absolute;
  top: 0px; */
  width: 100%;
  max-width: 100%;
  display: flex;
}

.modal2-box_card_slide_text {
  color: var(--colors-textSubtle);
  font-weight: 400;
  line-height: 1.5;
  margin: auto;
  max-width: 368px;
  font-size: 14px;
}

.modal2-box_card_slider_btns {
  display: flex;
}

.modal2-box_card_slider_btn {
  cursor: pointer;
  padding: 4px;
}

.modal2-box_card_slider_btn_design {
  background-color: var(--colors-secondary);
  width: 56px;
  height: 8px;
  position: relative;
}

.modal2-box_card_slider_btn_prev {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.modal2-box_card_slider_btn_nxt {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.modal2-box_card_slider_link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 0px 24px;
  height: 48px;
  border: 0px;
  min-height: 40px;
  border-radius: 16px;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  background-color: var(--colors-textSubtle);
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  color: var(--colors-backgroundAlt);
  text-decoration: none;
}

.modal2-box_card_slider_link_svg {
  align-self: center;
  fill: var(--colors-backgroundAlt);
  color: var(--colors-backgroundAlt);
  flex-shrink: 0;
  margin-left: 4px;
}

/*-----------NAVBAR MOBILE/IPAD----------*/
.navbar-mq-wrapper {
  display: none;
  z-index: 100;
}

.navbar-mq-content {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-top: 5px;
  padding-right: 8px;
  padding-left: 8px;
  background: var(--colors-backgroundAlt);
  border-top: 1px solid var(--colors-cardBorder);

  z-index: 100;
}

.navbar-mq-content_item_span {
  display: inline-flex;
  width: fit-content;
  position: relative;
}

.navbar-mq-content_item_span_a {
  opacity: 1;
  display: block;
  border: 0px;
  background: transparent;
  cursor: pointer;
  height: 44px;
  padding: 4px 12px;
  text-decoration: none;
  color: inherit;
}

.navbar-mq-content_item_span_a_ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navbar-mq-content_item_span_svgs {
  position: relative;
  height: 22px;
  width: 21px;
}

.navbar-mq-content_item_span_svg {
  height: 22px;
  width: 21px;
  z-index: 0;
  position: absolute;
  left: 0px;
  bottom: 0px;
  overflow: hidden;
  /* background-color: var(--colors-backgroundAlt); */
  background-color: transparent;
}

.nav-mq-change_svg1 {
  /* position: absolute;
  left: 0px;
  bottom: 0px; */
  overflow: hidden;
  align-self: center;
  fill: var(--colors-textSubtle);
  color: var(--colors-textSubtle);
  flex-shrink: 0;
  width: 20px;
}

.navbar-mq-content_item_span_svgs:last-child {
  height: 0px;
  z-index: 5;
  transition: height 0.25s ease 0s;
  background-color: var(--colors-backgroundAlt);
}

.nav-mq-change_svg2 {
  align-self: center;
  fill: var(--colors-secondary);
  color: var(--colors-secondary);
  flex-shrink: 0;
}

.navbar-mq-content_item_span_a_text {
  /* display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  user-select: none; */
  color: var(--colors-textSubtle);
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
}

.navbar-mq-content_item_span_dott {
  display: inline-flex;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 10px;
  height: 10px;
  pointer-events: none;
  border: 2px solid var(--colors-invertedContrast);
  border-radius: 50%;
  background-color: var(--colors-success);
}
.navbar-mq-content_item_span_dott_pink {
  background-color: var(--colors-failure);
}

.navbar-mq-content_item_links {
  background-color: var(--colors-backgroundAlt);
  border: 1px solid var(--colors-cardBorder);
  border-radius: 16px;
  padding-bottom: 4px;
  padding-top: 4px;
  margin-bottom: -3px;
  width: calc(100% - 32px);
  z-index: 1001111;
  /* pointer-events: none; */
  position: absolute;
  /* visibility: hidden; */
  inset: auto auto 0px 0px;
  transform: translate3d(0px, -50.25px, 0px);
  flex-direction: column;
}

.navbar-mq-content_item_link_a {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  align-items: center;
  border: 0px;
  /* background: transparent; */
  color: var(--colors-textSubtle);
  cursor: pointer;
  font-weight: 400;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: space-between;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  text-decoration: none;
}

.navbar-mq-content_item_span:hover {
  background-color: var(--colors-tertiary);
  border-radius: 16px;
}
.navbar-mq-content_item_links {
  visibility: hidden;
}

.navbar-mq-content_item_wrapper:hover .navbar-mq-content_item_links {
  visibility: visible;
}

.navbar-mq-content_item_wrapper:hover .overlay {
  display: block;
}

/* .navbar-mq-content_item_link_a:hover{
  background-color: blue;
} */
/*
.....




*/
/*Overlay*/

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #280d5f99;
  backdrop-filter: opacity(30%) /* blur(2px)*/;
  z-index: 99;
}

.hidden {
  display: none;
}

.nav-r-settings_btn svg {
  z-index: -1;
}

.navbar-mq-content_item_link_hr {
  border-color: var(--colors-cardBorder);
  border-style: solid;
  border-width: 1px 0px 0px;
  margin: 4px 0px;
}

.navbar-mq-content_item_link_a_btn {
  border-color: var(--colors-success);
  box-shadow: none;
  color: var(--colors-success);
}

/* .navbar-mq-content_item_links {
  display: none;
} */
