@media only screen and (max-width: 420px) {
  .nav-l-links-wrapper,
  .nav-r-links_item,
  .connect-desktop {
    display: none;
  }
  .navbar-mq-wrapper {
    display: block;
  }

  .banner-content img {
    display: none;
  }

  .banner-content_text {
    display: block;
    padding: 0;
  }

  .nav-wrapper {
    height: 140px;
  }
  .banner-wrapper {
    height: 84px;
    min-height: 84px;
    max-height: 84px;
    width: 100%;
    /* background-image: linear-gradient( rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100% ); */
  }

  .banner {
    display: flex;
    width: 100%;
    padding: 0;
    overflow: hidden;
    height: 100%;
    padding: 12px;
    align-items: center;
    background: linear-gradient(
        0deg,
        rgba(39, 38, 44, 0.4),
        rgba(39, 38, 44, 0.4)
      ),
      linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
  }

  .banner-content_text {
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    line-height: 1;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
  }

  .banner-content_text .banner-content_text_span {
    flex-shrink: 0;
    margin-right: 1px;
  }

  .banner-button {
    padding: 0;
    width: 24px;
  }

  .desktop-icon {
    display: none;
  }

  .mobile-icon {
    display:block;
    width: 32px;
  }

  .nav-r-item_btn_text {
    display: none;
  }

  .nav-r-item_btn_text_mq {
    display: none;
  }

  .menu-button .connect-desktop {
    display: none;
  }

  .menu-button .connect-mobile {
    display: block;
  }

  .nav-r-link_dropdown_items {
    position: fixed;
    inset: 0px auto auto 0px;
    transform: translate3d(67.75px, 55px, 0px);
  }

  .modal2-box_card_r {
    display: none;
  }

  .modal2-box_content {
    width: 100%;
  }
  .modal2 {
    width: 100%;
  }

  .modal2-box_card_l {
    width: 100%;
  }

/* .modal2-box_card_slides{
  width:100%;
} */

 .swiper-wrapper .modal2-box_card_slide {
    width: 100%;
  }
}
