* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.hidden {
  display: none;
}



.nav-wrapper {
  position: fixed;
  top: 0px;
  left: 0px;
  transition: top 0.2s ease 0s;
  height: 126px;
  width: 100%;
  z-index: 20;
}

/*banner */
.banner-wrapper {
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  width: 100%;
}

.banner {
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: center;
  padding: 12px;
  background-image: linear-gradient(rgb(128, 81, 214) 0%,
      rgb(73, 34, 134) 100%);
}

@media screen and (min-width: 852px) {
  .banner {
    padding: 0px;
    background: linear-gradient(rgb(128, 81, 214) 0%, rgb(73, 34, 134) 100%);
  }
}

.banner-content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.banner-content img {
  height: auto;
  max-width: 100%;
}

.banner-content_text {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: rgba(39, 38, 44, 0.4);
  border-radius: 16px;
  padding: 8px;
  width: 60%;
  height: 80%;
}

.banner-content_text .banner-content_text_span {
  flex-shrink: 0;
  margin-right: 4px;
}

.orange_span {
  color: var(--colors-banner-warning);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 14px;
}

.grey_span {
  color: rgb(189, 194, 196);
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}

.link_span {
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.5;
  font-size: 14px;
}

.banner-button:hover .banner-button_svg {
  opacity: 0.65;
}

.banner-button {
  padding: 2px;
  width: 48px;

  position: relative;
  align-items: center;
  border: 0px;
  border-radius: 16px;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition:
    background-color 0.2s ease 0s,
    opacity 0.2s ease 0s;
  height: 48px;
  padding: 0px 24px;
  background-color: transparent;
  color: var(--colors-primary);
  box-shadow: none;
}

.banner-button_svg {
  align-self: center;
  fill: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  flex-shrink: 0;
}

/*navbar*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 56px;
  background-color: #fff;
  border-bottom: 1px solid rgb(231 227 235);
  transform: translate3d(0px, 0px, 0px);
  padding-left: 16px;
  padding-right: 16px;
}

.nav-l-logo {
  display: flex;
  align-items: center;
}

.nav-l-logo__link {
  display: flex;
}

.desktop-icon {
  width: 160px;
}

.eye {
  transform-origin: 50% 60%;
  animation: none;
  animation-delay: 200ms;
  /* Disable animation by default */
}

.nav-logo__link:hover .eye {
  animation: closeEyes 0.1s ease 0.1s forwards;
  animation-duration: 350ms;
  animation-iteration-count: 5;
}

@keyframes closeEyes {
  0% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0.2);
  }

  100% {
    transform: scaleY(1);
  }
}

.game {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3px;
  color: #7645d9;
  position: relative;
  font-size: 16px;
  font-weight: 600;
  opacity: 1;
  pointer-events: inherit;
  height: 48px;
}

.game-on {
  content: "";
  border-radius: 100%;
  background: #31d0aa;
  height: 8px;
  width: 8px;
}

.nav-l,
.nav-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-l {
  gap: 24px;
}

.nav-l-links,
.nav-r-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-l-link_dropdown,
.nav-r-link_dropdown {
  position: relative;
}

.nav-l-link_dropdown_item_a,
.nav-r-link_dropdown_item_a {
  color: #7a6eaa;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.nav-l-item__a,
.nav-r-item__a {
  color: #7a6eaa;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  opacity: 1;
  pointer-events: inherit;
  padding: 0px 16px;
  height: 48px;
}

/* Styling for dropdown menus */
.nav-l-link_dropdown_items,
.nav-r-link_dropdown_items {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px 0;
  top: 100%;
  left: 0;
  border-radius: 10px;
  border: 1px solid #e7e3eb;
  width: 280px;
}

.nav-l-links_dropdown:hover .nav-l-link_dropdown_items,
.nav-r-links_dropdown:hover .nav-r-link_dropdown_items {
  display: block;
}

.nav-l-links_dropdown:hover {
  background-color: #eff4f5;
  border-radius: 16px;
}

.nav-l-link_dropdown_item:hover,
.nav-r-link_dropdown_item:hover {
  background-color: #eff4f5;
}

.nav-l-link_dropdown_itemsvg,
.nav-r-link_dropdown_itemsvg {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*nav right*/

.nav-r-links {
  gap: 16px;
}

/*bunny and number*/
.nav-r-links_item__a {
  text-decoration: none;
  color: #7a6eaa;
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav-r-links_item__asvg {
  transition: transform 0.3s ease 0s;
  align-self: center;
  fill: #280d5f;
  color: #280d5f;
  flex-shrink: 0;
}

.nav-r-links_item__asvg:hover {
  transform: scale(1.2);
}

.nav-r-link_dropdown_itemimg {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

/*language button*/

.nav-r-link-dropdown-btnlng_svg {
  fill: #7a6eaa;
}

.nav-r-link-dropdown-btnlng_svg:hover {
  opacity: 0.65;
}

.nav-r-link-dropdown-btnlng {
  border: 0px;
  background-color: transparent;
}

.nav-r-language:hover .nav-r-language-dropdown {
  opacity: 1;
  max-height: 400px;
  overflow-y: auto;
  transition:
    max-height 0s ease 0s,
    opacity 0.3s ease-in-out 0s;
  pointer-events: auto;
}

.nav-r-language .nav-r-language-dropdown {
  position: relative;
  width: max-content;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-50%, 0px);
  left: 50%;
  bottom: auto;
  background-color: #fff;
  box-shadow:
    0px 2px 12px -8px rgba(25, 19, 38, 0.1),
    0px 1px 1px rgba(25, 19, 38, 0.05);
  padding: 16px;
  max-height: 0px;
  overflow: hidden;
  z-index: 10;
  border-radius: 4px;
  opacity: 0;
  /*transition: max-height 0s ease 0.3s, opacity 0.3s ease-in-out 0s;*/
  will-change: opacity;
  pointer-events: none;
}

.nav-r-language {
  margin-top: 4px;
}

.nav-r-link_dropdown_items .lang-btn-drop {
  color: var(--colors-text);
  justify-content: center;

}

.lang-btn-drop:hover {
  opacity: 0.65;
}

/*.nav-r-language-dropdown .nav-r-link_dropdown_item{
  color: var(--colors-text);
  padding: 0px 8px;
  border-radius: 8px;
  position: relative;
    align-items: center;
    border: 0px;
    border-radius: 16px;
    cursor: pointer;
    display: inline-flex;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    letter-spacing: 0.03em;
    line-height: 1;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  }*/

.nav-r-link_dropdown_item {
  min-height: 32px;
  height: auto;
}

/*settings button*/

/*bnb button*/
.nav-r-link_dropdown_btn {
  display: flex;
}

.nav-r-item_btn {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eff4f5;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px -2px 0px inset;
  cursor: pointer;
  height: 32px;
  padding-right: 8px;
  position: relative;
  max-width: fit-content;
}

.nav-r-item_btn_text_mq {
  display: none;
}

.nav-r-item_btn img {
  border-radius: 50%;
  max-height: 32px;
  margin-top: 4px;
  overflow-clip-margin: content-box;
  overflow: clip;
}


.nav-r-item_btn:hover {
  opacity: 0.65;
}

.nav-r-item_btn_svg svg {
  display: flex;
  align-items: center;
}

.nav-r-link_dropdown_items button {
  align-items: center;
  border: 0px;
  background: transparent;
  color: #7a6eaa;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 48px;
  justify-content: space-between;
  outline: 0px;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

.nav-r-link_dropdown_itemimg_text {
  color: #280d5f;
  font-weight: 400;
  line-height: 1.5;
  padding-left: 12px;
  font-size: 16px;
}

.nav-r-link_dropdown_item-sel {
  padding: 8px 16px;
}

.nav-r-link_dropdown_item_text {
  color: #7a6eaa;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

/*settings*/
.nav-r-settings_btn {
  background-color: transparent;
  border: none;
  display: flex;
}

.nav-r-settings_svg {
  fill: #7a6eaa;

}

.nav-r-settings_btn:hover .nav-r-settings_svg {
  opacity: 0.65;
}

/*connect wallet button*/

.menu.banner-button {
  align-self: center;
}



/* modal window and overlay*/

.close-modal {
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height:auto;
 

  background-color: white;
  padding: 6rem;
  border-radius: 32px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 100;

  min-height: 300px;
  max-height: 100vh;

}

.modal-box{
  
  overflow: hidden;
  min-width: 320px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:#280d5f99;
  backdrop-filter: opacity(30%) /* blur(2px)*/;
  z-index: 99;
}

