
@import url(reset.css);
@import url(root.css);
@import url(root2.css);
@import url(buttons.css);
/* =========== SCROLL BAR =========== */

/* STYLE CSS*/
@import url(navbarMonica.css);
@import url(carousel/carousel.css);
@import url(miriana-cards.css);
@import url(eleonora-cards.css);

/* STYLE MEDIA QUERIES */
@import url(navbar-mq-desktop.css);
@import url(navbar-mq-tablet.css);
@import url(navbar-mq-smartphone.css);

@import url(carousel/carousel-mq.css);
@import url(./assets/css/mq-tablet-lc.css)
@import url(./assets/css/mq-smartphone-lc.css)
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #7a6eaa;
  border-radius: 8px;
}

::-webkit-scrollbar-track {

  box-shadow: inset 0 0 5px -2px #ffffff;
  border-radius: 1px;
}

    box-shadow: inset 0 0 5px -2px #ffffff;
    border-radius: 1px;
}

